.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 16px;
  text-align: center;
  background: #060606;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
   border-top: 1px solid #374151;
}

.about-container h2 {
  font-size: 2rem;
  color: #ccc;
  margin-bottom: 24px;
}

.about-container h3 {
  font-size: 1.3rem;
  color: #ccc;
  margin: 16px 0 8px;
}

.about-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
  
}

.tech-icon2 {
  width: 60px;
  height: 60px;
  padding: 8px;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.tech-icon2:hover {
  transform: scale(1.15) translateY(-4px);
  filter: brightness(1.1);
  box-shadow: 0 8px 20px rgba(79, 195, 247, 0.3);
}
